:root {
  /* colours: background, foreground, highlight, tile, border */
  /* primary */
  --pri-bg: #fff;
  --pri-fg: #333;
  --pri-hl: blue;
  --pri-tl: #eee;
  --pri-bd: #aaa;

  /* secondary */
  --sec-bg: #ddd;
  --sec-fg: #333;
  --sec-hl: #000;
  --sec-tl: #ccc;
  --sec-bd: #aaa;

  /* text size: small - medium - large */
  --tx-sml: 0.8rem;
  --tx-med: 1rem;
  --tx-lge: 1.3rem;
}
