@import url('reset.css');
@import url('light.css');
@import url('page.css');
@import url('layout.css');

body {
  color: var(--pri-fg);
  background: var(--pri-bg);
  font-family: var(--font);
  --sb-fg: var(--pri-bd);
  --sb-bg: var(--pri-bg);
}
